@import "tailwindcss";


/* @import "flowbite/src/themes/default";
@source "../node_modules/flowbite-datepicker"; */


body{
  background-color: #ffffff;
}

.yellow{
  background-color: #F6F30D;
}



.teal{
  background-color: #378F6F;
}