{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Edit Flight</h2>
          <a class="btn btn-secondary" href="{{ url_for('views.dashboard') }}"><i class="fas fa-arrow-left"></i>Back|</a>
    <form method="POST">
        <div class="mb-3">
            <label>Flight Number</label>
            <input type="text" class="form-control" name="flight_number" value="{{ flight.flight_number }}" required>
        </div>
        <div class="mb-3">
            <label>Airline ID</label>
            <input type="number" class="form-control" name="airline_id" value="{{ flight.airline_id }}" required>
        </div>
        <div class="mb-3">
            <label>Aircraft ID</label>
            <input type="number" class="form-control" name="aircraft_id" value="{{ flight.aircraft_id }}" required>
        </div>
        <div class="mb-3">
            <label>Route ID</label>
            <input type="number" class="form-control" name="route_id" value="{{ flight.route_id }}" required>
        </div>
        <button type="submit" class="btn btn-success">Update Flight</button>
    </form>
</div>
{% endblock %}
